h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.holder {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.holder-list {
    display: flex;
    flex-wrap: wrap;
}
li {
    flex-basis: 250px;
}
.holder-item-1 {
    background-color: coral;
    flex-grow: 1;
    border-top-left-radius: 20px;
    border-top: 2px solid;
    border-left: 2px solid;
    flex-basis: 500px;
}
.holder-item-2 {
    background-color: aqua;
    border-bottom: 2px solid;
    order: 4;
    flex-basis: 390px;
}
.holder-item-3 {
    background-color: purple;
    border-left: 2px solid;
    border-bottom: 2px solid;
    order: 3;
    flex-basis: 390px;
    height: 30px;
}
.holder-item-4 {
    background-color: green;
    border-right: 2px solid;
    border-bottom: 2px solid;
    order: 5;
    flex-basis: 390px;
}
.holder-item-5 {
    background-color: gold;
    flex-grow: 1;
    border-top: 2px solid;
    border-right: 2px solid;
    border-top-right-radius: 20px;
    order: 2;
    flex-basis: 500px;
    height: 30px;
}